.login {
    height: 100vh; 
    width: 100%;
    background-image: linear-gradient(99deg, #ff70a6, #ff9770 40%, #ffd670 73%, #e9ff70);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

}
.login_container {
    height: 50%;
    width: 30%;
    background-image: linear-gradient(97deg, #ff7a6e, #ff9770);
    box-shadow: 0 10px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 100px;
    
    
}
.helo_text{
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-top: 6px;
    margin-bottom: 16px;
}
.login_button {
    height: 35px;
    width: 300%;
    position: relative;
    left: -100%;
    font-size: 20px;
    color: white;
    border-radius: 4px;
    border-style: none;
    background-image: radial-gradient(circle at 50%-46%, #737373, #403d39);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .logo{
        height: 60px;
    }
    .login_button {
        width: 150%;
        position: relative;
        left: -20%;
    }
}